.main {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rem(25px);
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
